.component {
    font-family: "Comfortaa", sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #282828;
    color: #FFFFFF;

    padding: 0 95px;
    height: 135px;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}


.timeline {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 3px;
    background: #767676;

    cursor: pointer;
}

.timeline::-moz-range-thumb,
.timeline::-webkit-slider-thumb {
    height: 5px;
    width: 5px;
    border-radius: 0px;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
}

.timeline::-moz-range-thumb:hover {
    height: 10px;
    width: 10px;
}


.volumeChanger{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 10px;
    background: #767676;

    cursor: pointer;
}

.volumeChanger::-moz-range-thumb,
.volumeChanger::-webkit-slider-thumb {
    height: 20px;
    width: 10px;
    border-radius: 0px;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
}


.nameAndRange {
    width: 50%;
}

.musicName {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.actionMusic {
    display: flex;
    align-items: center;
    gap: 35px;
}

.name {
    display: flex;
    align-items: center;
    gap: 40px;
}

.name>.title {
    font-size: 25px;
}

.name>.subTitle {
    font-size: 15px;
    color: #676767;
}

.playButton {
    background-color: transparent;
    border: none;
}

.musicSettings {
    display: flex;
    align-items: center;
    gap: 24px;
}

#music {
    display: grid;
    position: relative;
}

#music>input {
    position: absolute;
    right: -63px;
    top: -40px;
    display: none;
}

#music:focus-within>input, #music>input:focus {
    display: block;
}