@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import './Reset.css';

body {
  background-color: #e5e5e5;
  position: relative;
  margin: 0;

  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.App {
  font-family: sans-serif;
  text-align: center;
}